In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
from pyspark.sql.functions import *

In [2]:
spark = SparkSession.builder.appName("PySparkPrac").getOrCreate()

25/08/26 11:53:04 WARN Utils: Your hostname, neosoft-Latitude-5420 resolves to a loopback address: 127.0.1.1; using 10.0.61.246 instead (on interface wlp0s20f3)
25/08/26 11:53:04 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/26 11:53:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
data = [
    (1, "HR", 60000),
    (2, "HR", 75000),
    (3, "HR", 50000),
    (4, "IT", 90000),
    (5, "IT", 85000)
]
columns = ["emp_id", "dept", "salary"]

df = spark.createDataFrame(data, columns)

In [4]:
w = Window.partitionBy("dept").orderBy(col("salary").desc())

rn = df.withColumn("rank", rank().over(w))
rn.show()

+------+----+------+----+
|emp_id|dept|salary|rank|
+------+----+------+----+
|     2|  HR| 75000|   1|
|     1|  HR| 60000|   2|
|     3|  HR| 50000|   3|
|     4|  IT| 90000|   1|
|     5|  IT| 85000|   2|
+------+----+------+----+

In [3]:
data = [
    ("P1","2025-01-10"),
    ("P1","2025-02-12"),
    ("P1","2025-03-09"),
    ("P1","2025-04-18"),
    ("P1","2025-05-03"),
    ("P1","2025-06-27"),
    ("P1","2025-07-14"),
    ("P1","2025-08-21"),
    ("P1","2025-09-02"),
    ("P1","2025-10-11"),
    ("P1","2025-11-06"),
    ("P1","2025-12-05"),
    ("P2","2025-01-05"),
    ("P2","2025-02-10"),
    ("P2","2025-03-15"),
    ("P2","2025-05-20"),
    ("P2","2025-06-08"),
    ("P2","2025-07-22"),
    ("P2","2025-08-30"),
    ("P2","2025-10-01"),
    ("P2","2025-11-19"),
    ("P2","2025-12-07"),
    ("P3","2025-01-02"),
    ("P3","2025-02-14"),
    ("P3","2025-03-03"),
    ("P3","2025-04-25"),
    ("P3","2025-05-09"),
    ("P3","2025-06-16"),
    ("P3","2025-07-07"),
    ("P3","2025-08-12"),
    ("P3","2025-09-28"),
    ("P3","2025-10-20"),
    ("P3","2025-11-03"),
    ("P3","2025-12-29")
]

schema = ["product_id", "sale_date"]
product_sales = spark.createDataFrame(data, schema)
product_sales = product_sales.withColumn("sale_date", to_date(col("sale_date"), "yyyy-MM-dd"))
product_sales.createOrReplaceTempView("product_sales")

In [4]:
result = spark.sql('''
select product_id from product_sales where year(sale_date) = 2025 group by product_id having count(distinct month(sale_date)) = 12''')

In [5]:
result.show()

+----------+
|product_id|
+----------+
|        P3|
|        P1|
+----------+