# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("PySparkPrac").getOrCreate()

25/08/21 17:22:39 WARN Utils: Your hostname, neosoft-Latitude-5420 resolves to a loopback address: 127.0.1.1; using 10.0.61.246 instead (on interface wlp0s20f3)
25/08/21 17:22:39 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/21 17:22:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/08/21 17:22:40 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [14]:
import requests
from pyspark.sql.functions import *
from pyspark.sql.types import *

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

In [5]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv'
file_path = "/home/neosoft/Documents/Practice/Daily_Practice/21st_Aug/student-mat.csv"

with open(file_path, 'wb') as f:
    f.write(requests.get(url).content)

### Step 3. Assign it to a variable called df.

In [7]:
df = spark.read.option("header",True).option("inferschema",True).csv(file_path)
df.show()

+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|    Mjob|    Fjob|    reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences| G1| G2| G3|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|    GP|  F| 18|      U|    GT3|      A|   4|   4| at_home| teacher|    course|  mother|         2|        2|       0|      yes|    no|  no|        no|    yes|   yes|      no|      no|     4|       3|    4|   1|   1|     3|       6|  5|  6|  6|
|    GP|  F| 17|      U|    GT3|      T|   1|   1| at_home|   other|    course|  father|         1|        2|       0|       no|   yes|  no|        no|     no|   yes|     yes|      no|     5|       3|    3|   1|   1|     3|       4|  5|  5|  6|
|    GP|  F| 15|      U|    LE3|      T|   1|   1| at_home|   other|     other|  mother|         1|        2|       3|      yes|    no| yes|        no|    yes|   yes|     yes|      no|     4|       3|    2|   2|   3|     3|      10|  7|  8| 10|
|    GP|  F| 15|      U|    GT3|      T|   4|   2|  health|services|      home|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|     yes|     3|       2|    2|   1|   1|     5|       2| 15| 14| 15|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|      home|  father|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|      no|      no|     4|       3|    2|   1|   2|     5|       4|  6| 10| 10|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|services|   other|reputation|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       4|    2|   1|   2|     5|      10| 15| 15| 15|
|    GP|  M| 16|      U|    LE3|      T|   2|   2|   other|   other|      home|  mother|         1|        2|       0|       no|    no|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   1|     3|       0| 12| 12| 11|
|    GP|  F| 17|      U|    GT3|      A|   4|   4|   other| teacher|      home|  mother|         2|        2|       0|      yes|   yes|  no|        no|    yes|   yes|      no|      no|     4|       1|    4|   1|   1|     1|       6|  6|  5|  6|
|    GP|  M| 15|      U|    LE3|      A|   3|   2|services|   other|      home|  mother|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     4|       2|    2|   1|   1|     1|       0| 16| 18| 19|
|    GP|  M| 15|      U|    GT3|      T|   3|   4|   other|   other|      home|  mother|         1|        2|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     5|       5|    1|   1|   1|     5|       0| 14| 15| 15|
|    GP|  F| 15|      U|    GT3|      T|   4|   4| teacher|  health|reputation|  mother|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     3|       3|    3|   1|   2|     2|       0| 10|  8|  9|
|    GP|  F| 15|      U|    GT3|      T|   2|   1|services|   other|reputation|  father|         3|        3|       0|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       2|    2|   1|   1|     4|       4| 10| 12| 12|
|    GP|  M| 15|      U|    LE3|      T|   4|   4|  health|services|    course|  father|         1|        1|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     4|       3|    3|   1|   3|     5|       2| 14| 14| 14|
|    GP|  M| 15|      U|    GT3|      T|   4|   3| teacher|   other|    course|  mother|         2|        2|       0|       no|   yes| yes|        no|    yes|   yes|     yes|      no|     5|       4|    3|   1|   2|     3|       2| 10| 10| 11|
|    GP|  M| 15|      U|    GT3|      A|   2|   2|   other|   other|      home|   other|         1|        3|       0|       no|   yes|  no|        no|    yes|   yes|     yes|     yes|     4|       5|    2|   1|   1|     3|       0| 14| 16| 16|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|  health|   other|      home|  mother|         1|        1|       0|       no|   yes|  no|        no|    yes|   yes|     yes|      no|     4|       4|    4|   1|   2|     2|       4| 14| 14| 14|
|    GP|  F| 16|      U|    GT3|      T|   4|   4|services|services|reputation|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|      no|     3|       2|    3|   1|   2|     2|       6| 13| 14| 14|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|   other|   other|reputation|  mother|         3|        2|       0|      yes|   yes|  no|       yes|    yes|   yes|      no|      no|     5|       3|    2|   1|   1|     4|       4|  8| 10| 10|
|    GP|  M| 17|      U|    GT3|      T|   3|   2|services|services|    course|  mother|         1|        1|       3|       no|   yes|  no|       yes|    yes|   yes|     yes|      no|     5|       5|    5|   2|   4|     5|      16|  6|  5|  5|
|    GP|  M| 16|      U|    LE3|      T|   4|   3|  health|   other|      home|  father|         1|        1|       0|       no|    no| yes|       yes|    yes|   yes|     yes|      no|     3|       1|    3|   1|   3|     5|       4|  8| 10| 10|
+------+---+---+-------+-------+-------+----+----+--------+--------+----------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
only showing top 20 rows

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [9]:
all_cols = df.columns
start = all_cols.index("school")
end = all_cols.index("guardian")

sel_cols = all_cols[start:end+1]

slice_df = df.select(*sel_cols)
slice_df.show(5)

+------+---+---+-------+-------+-------+----+----+-------+--------+------+--------+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|   Mjob|    Fjob|reason|guardian|
+------+---+---+-------+-------+-------+----+----+-------+--------+------+--------+
|    GP|  F| 18|      U|    GT3|      A|   4|   4|at_home| teacher|course|  mother|
|    GP|  F| 17|      U|    GT3|      T|   1|   1|at_home|   other|course|  father|
|    GP|  F| 15|      U|    LE3|      T|   1|   1|at_home|   other| other|  mother|
|    GP|  F| 15|      U|    GT3|      T|   4|   2| health|services|  home|  mother|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|  other|   other|  home|  father|
+------+---+---+-------+-------+-------+----+----+-------+--------+------+--------+
only showing top 5 rows

### Step 5. Create a lambda function that will capitalize strings.

In [17]:
string_cols = [f.name for f in df.schema.fields if isinstance(f.dataType, StringType)]

new_cols = [initcap(col(c)).alias(c) if c in string_cols else col(c) for c in df.columns]

df_cap = df.select(*new_cols)
df_cap.show(5)

+------+---+---+-------+-------+-------+----+----+-------+--------+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|   Mjob|    Fjob|reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences| G1| G2| G3|
+------+---+---+-------+-------+-------+----+----+-------+--------+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|    Gp|  F| 18|      U|    Gt3|      A|   4|   4|At_home| Teacher|Course|  Mother|         2|        2|       0|      Yes|    No|  No|        No|    Yes|   Yes|      No|      No|     4|       3|    4|   1|   1|     3|       6|  5|  6|  6|
|    Gp|  F| 17|      U|    Gt3|      T|   1|   1|At_home|   Other|Course|  Father|         1|        2|       0|       No|   Yes|  No|        No|     No|   Yes|     Yes|      No|     5|       3|    3|   1|   1|     3|       4|  5|  5|  6|
|    Gp|  F| 15|      U|    Le3|      T|   1|   1|At_home|   Other| Other|  Mother|         1|        2|       3|      Yes|    No| Yes|        No|    Yes|   Yes|     Yes|      No|     4|       3|    2|   2|   3|     3|      10|  7|  8| 10|
|    Gp|  F| 15|      U|    Gt3|      T|   4|   2| Health|Services|  Home|  Mother|         1|        3|       0|       No|   Yes| Yes|       Yes|    Yes|   Yes|     Yes|     Yes|     3|       2|    2|   1|   1|     5|       2| 15| 14| 15|
|    Gp|  F| 16|      U|    Gt3|      T|   3|   3|  Other|   Other|  Home|  Father|         1|        2|       0|       No|   Yes| Yes|        No|    Yes|   Yes|      No|      No|     4|       3|    2|   1|   2|     5|       4|  6| 10| 10|
+------+---+---+-------+-------+-------+----+----+-------+--------+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
only showing top 5 rows

### Step 6. Capitalize both Mjob and Fjob

In [19]:
cols = ["Mjob", "Fjob"]

new_cols = [initcap(col(c)).alias(c) if c in cols else col(c) for c in df.columns]

df_cap = df.select(*new_cols)
df_cap.show(5)

+------+---+---+-------+-------+-------+----+----+-------+--------+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|   Mjob|    Fjob|reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences| G1| G2| G3|
+------+---+---+-------+-------+-------+----+----+-------+--------+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|    GP|  F| 18|      U|    GT3|      A|   4|   4|At_home| Teacher|course|  mother|         2|        2|       0|      yes|    no|  no|        no|    yes|   yes|      no|      no|     4|       3|    4|   1|   1|     3|       6|  5|  6|  6|
|    GP|  F| 17|      U|    GT3|      T|   1|   1|At_home|   Other|course|  father|         1|        2|       0|       no|   yes|  no|        no|     no|   yes|     yes|      no|     5|       3|    3|   1|   1|     3|       4|  5|  5|  6|
|    GP|  F| 15|      U|    LE3|      T|   1|   1|At_home|   Other| other|  mother|         1|        2|       3|      yes|    no| yes|        no|    yes|   yes|     yes|      no|     4|       3|    2|   2|   3|     3|      10|  7|  8| 10|
|    GP|  F| 15|      U|    GT3|      T|   4|   2| Health|Services|  home|  mother|         1|        3|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|     yes|     3|       2|    2|   1|   1|     5|       2| 15| 14| 15|
|    GP|  F| 16|      U|    GT3|      T|   3|   3|  Other|   Other|  home|  father|         1|        2|       0|       no|   yes| yes|        no|    yes|   yes|      no|      no|     4|       3|    2|   1|   2|     5|       4|  6| 10| 10|
+------+---+---+-------+-------+-------+----+----+-------+--------+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
only showing top 5 rows

### Step 7. Print the last elements of the data set.

In [20]:
df.tail(5)

[Row(school='MS', sex='M', age=20, address='U', famsize='LE3', Pstatus='A', Medu=2, Fedu=2, Mjob='services', Fjob='services', reason='course', guardian='other', traveltime=1, studytime=2, failures=2, schoolsup='no', famsup='yes', paid='yes', activities='no', nursery='yes', higher='yes', internet='no', romantic='no', famrel=5, freetime=5, goout=4, Dalc=4, Walc=5, health=4, absences=11, G1=9, G2=9, G3=9),
 Row(school='MS', sex='M', age=17, address='U', famsize='LE3', Pstatus='T', Medu=3, Fedu=1, Mjob='services', Fjob='services', reason='course', guardian='mother', traveltime=2, studytime=1, failures=0, schoolsup='no', famsup='no', paid='no', activities='no', nursery='no', higher='yes', internet='yes', romantic='no', famrel=2, freetime=4, goout=5, Dalc=3, Walc=4, health=2, absences=3, G1=14, G2=16, G3=16),
 Row(school='MS', sex='M', age=21, address='R', famsize='GT3', Pstatus='T', Medu=1, Fedu=1, Mjob='other', Fjob='other', reason='course', guardian='other', traveltime=1, studytime=1, failures=3, schoolsup='no', famsup='no', paid='no', activities='no', nursery='no', higher='yes', internet='no', romantic='no', famrel=5, freetime=5, goout=3, Dalc=3, Walc=3, health=3, absences=3, G1=10, G2=8, G3=7),
 Row(school='MS', sex='M', age=18, address='R', famsize='LE3', Pstatus='T', Medu=3, Fedu=2, Mjob='services', Fjob='other', reason='course', guardian='mother', traveltime=3, studytime=1, failures=0, schoolsup='no', famsup='no', paid='no', activities='no', nursery='no', higher='yes', internet='yes', romantic='no', famrel=4, freetime=4, goout=1, Dalc=3, Walc=4, health=5, absences=0, G1=11, G2=12, G3=10),
 Row(school='MS', sex='M', age=19, address='U', famsize='LE3', Pstatus='T', Medu=1, Fedu=1, Mjob='other', Fjob='at_home', reason='course', guardian='father', traveltime=1, studytime=1, failures=0, schoolsup='no', famsup='no', paid='no', activities='no', nursery='yes', higher='yes', internet='yes', romantic='no', famrel=3, freetime=2, goout=3, Dalc=3, Walc=3, health=5, absences=5, G1=8, G2=9, G3=9)]

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [21]:
string_cols = [f.name for f in df.schema.fields if isinstance(f.dataType, StringType)]

new_cols = [initcap(col(c)).alias(c) if c in string_cols else col(c) for c in df.columns]

df_cap = df.select(*new_cols)
df_cap.show(5)

+------+---+---+-------+-------+-------+----+----+-------+--------+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|   Mjob|    Fjob|reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences| G1| G2| G3|
+------+---+---+-------+-------+-------+----+----+-------+--------+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
|    Gp|  F| 18|      U|    Gt3|      A|   4|   4|At_home| Teacher|Course|  Mother|         2|        2|       0|      Yes|    No|  No|        No|    Yes|   Yes|      No|      No|     4|       3|    4|   1|   1|     3|       6|  5|  6|  6|
|    Gp|  F| 17|      U|    Gt3|      T|   1|   1|At_home|   Other|Course|  Father|         1|        2|       0|       No|   Yes|  No|        No|     No|   Yes|     Yes|      No|     5|       3|    3|   1|   1|     3|       4|  5|  5|  6|
|    Gp|  F| 15|      U|    Le3|      T|   1|   1|At_home|   Other| Other|  Mother|         1|        2|       3|      Yes|    No| Yes|        No|    Yes|   Yes|     Yes|      No|     4|       3|    2|   2|   3|     3|      10|  7|  8| 10|
|    Gp|  F| 15|      U|    Gt3|      T|   4|   2| Health|Services|  Home|  Mother|         1|        3|       0|       No|   Yes| Yes|       Yes|    Yes|   Yes|     Yes|     Yes|     3|       2|    2|   1|   1|     5|       2| 15| 14| 15|
|    Gp|  F| 16|      U|    Gt3|      T|   3|   3|  Other|   Other|  Home|  Father|         1|        2|       0|       No|   Yes| Yes|        No|    Yes|   Yes|      No|      No|     4|       3|    2|   1|   2|     5|       4|  6| 10| 10|
+------+---+---+-------+-------+-------+----+----+-------+--------+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+
only showing top 5 rows

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [25]:
df = df.withColumn("legal_drinker", when(col("age") > 17, True).otherwise(False))
df.select("age","legal_drinker").show(5)

+---+-------------+
|age|legal_drinker|
+---+-------------+
| 18|         true|
| 17|        false|
| 15|        false|
| 15|        false|
| 16|        false|
+---+-------------+
only showing top 5 rows

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [ ]:
num_cols = [f.name for f in df.schema.fields if isinstance(f.dataType, IntegerType)]

new_cols = [(col(c)*10).alias(c) if c in num_cols else col(c) for c in df.columns]
df_mul = df.select(*new_cols)
df_mul.show(5)

+------+---+---+-------+-------+-------+----+----+-------+--------+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+-------------+
|school|sex|age|address|famsize|Pstatus|Medu|Fedu|   Mjob|    Fjob|reason|guardian|traveltime|studytime|failures|schoolsup|famsup|paid|activities|nursery|higher|internet|romantic|famrel|freetime|goout|Dalc|Walc|health|absences| G1| G2| G3|legal_drinker|
+------+---+---+-------+-------+-------+----+----+-------+--------+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+-------------+
|    GP|  F|180|      U|    GT3|      A|  40|  40|at_home| teacher|course|  mother|        20|       20|       0|      yes|    no|  no|        no|    yes|   yes|      no|      no|    40|      30|   40|  10|  10|    30|      60| 50| 60| 60|         true|
|    GP|  F|170|      U|    GT3|      T|  10|  10|at_home|   other|course|  father|        10|       20|       0|       no|   yes|  no|        no|     no|   yes|     yes|      no|    50|      30|   30|  10|  10|    30|      40| 50| 50| 60|        false|
|    GP|  F|150|      U|    LE3|      T|  10|  10|at_home|   other| other|  mother|        10|       20|      30|      yes|    no| yes|        no|    yes|   yes|     yes|      no|    40|      30|   20|  20|  30|    30|     100| 70| 80|100|        false|
|    GP|  F|150|      U|    GT3|      T|  40|  20| health|services|  home|  mother|        10|       30|       0|       no|   yes| yes|       yes|    yes|   yes|     yes|     yes|    30|      20|   20|  10|  10|    50|      20|150|140|150|        false|
|    GP|  F|160|      U|    GT3|      T|  30|  30|  other|   other|  home|  father|        10|       20|       0|       no|   yes| yes|        no|    yes|   yes|      no|      no|    40|      30|   20|  10|  20|    50|      40| 60|100|100|        false|
+------+---+---+-------+-------+-------+----+----+-------+--------+------+--------+----------+---------+--------+---------+------+----+----------+-------+------+--------+--------+------+--------+-----+----+----+------+--------+---+---+---+-------------+
only showing top 5 rows